.ft-row-txt h3{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 1.2rem;
    font-size: 18px;
    text-align: top;
}
.ft-row-txt p{
    color: rgba(255, 255, 255, 0.591);
    padding-bottom: 0.5rem;
}

.ft-label button{
    border: 1px solid rgba(255, 255, 255, 0.055);
    transition: .3s ease;
}

.ft-label button:hover{
    border: 1px solid rgba(255, 255, 255, 0.201);
}

/* .ft-row{
    height: 12rem;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
} */