.section {
  background-color: rgba(14, 13, 13, 0.836);
  position: relative;
  /* height: 12rem; */
  width: 100%;
  padding-bottom: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.116);
  border-bottom: 1px solid rgba(255, 255, 255, 0.116);
  margin-bottom: 0rem;
  overflow: hidden;
}
.sub-footer {
  padding: 3rem 5rem 2rem 5rem;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.feat-txt h2 {
  font-size: 2rem;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.f-t-s p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.532);
}

.f-t-s button {
  font-weight: 500;
  font-size: 12px;
  color: white;
  background-color: rgb(24, 12, 241);
  margin-right: 10px;
  padding: 1.2em 1em;
  transition: 0.3s ease;
}

.f-t-s button:hover {
  background-color: #1a1a1a;
  border: 0.5px solid rgba(171, 165, 165, 0.279);
}

.design {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: top;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  z-index: 0;
  margin-top: -1.5rem;
}

.f-t-s {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer {
  background-color: rgba(14, 13, 13, 0.836);
  margin-top: 0rem;
  padding: 5rem;
}

.f-logo {
  display: block;
  margin-bottom: 2rem;
}

.lt {
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.126);
  border-radius: 10px;
  padding: 8px 10px;
  align-items: center;
  justify-content: flex-start;
  transition: 0.5s ease;
}

.lt span {
  border: none;
  background: transparent;
  padding: 0;
  padding-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lt span img {
  width: 1.4rem;
  margin-bottom: 1px;
}

.lt button {
  background: transparent;
  border: none;
  padding: 5px;
  margin-right: -1rem;
  margin-left: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.lt button img {
  width: 1.3rem;
}

.lt input {
  background: transparent;
  border: none;
  outline: none;
}

.lt:hover {
  border: 1px solid rgba(255, 255, 255, 0.772);
}

.lt button:hover {
  background-color: rgba(12, 7, 104, 0.655);
}

.footer-cont {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-txt {
  display: flex;
  justify-content: space-between;
}

.footer-txt h4 {
  color: rgba(255, 255, 255, 0.687);
  font-weight: normal;
}

.footer-txt p {
  color: white;
  cursor: pointer;
  padding: -10px;
  font-size: 14px;
}

.footer-txt p:hover {
  color: rgb(95, 90, 240);
}

.ftr {
  padding-right: 4rem;
}

.copy-write {
  background-color: rgba(18, 16, 16, 0.541);
  display: flex;
  padding: 10px 5rem;
  justify-content: space-between;
}

.copy-write p {
  font-size: 13px;
  color: rgb(95, 90, 240);
  cursor: pointer;
  transition: 0.3s ease;
}

.copy {
  width: 100%;
  display: flex;
}

.copy span {
  padding-right: 10px;
  color: white;
  text-decoration: none;
  cursor: default;
}

.social {
  display: flex;
}

.social img {
  width: 2rem;
  margin-left: 0.4rem;
}

/* --------- Sub-Footer - Res -------------- */

@media screen and (max-width: 1188px) {
  .f-t-s p {
    width: 70%;
  }
}

@media screen and (max-width: 950px) {
  .f-ts h2 {
    width: 70%;
  }
}

@media screen and (max-width: 790px) {
  .f-t-s p {
    width: 90%;
  }
  .f-t-s {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .f-ts h2 {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .sub-footer {
    padding-left: 2em;
  }

  .f-t-s p {
    width: 100%;
  }
}

@media screen and (max-width: 562px) {
  .sub-footer {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding-right: 2em;
  }

  .f-t-s button {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .sub-footer{
    padding-left: 1em;
  }
}

@media screen and (max-width: 394px) {
  .f-ts h2 {
    font-size: 24px;
  }
}

/* --------- Footer - Res -------------- */

@media screen and (max-width: 1200px) {
 .footer-txt{
  display: grid;
  grid-template-columns: 200px 150px 100px;
 } 
}

@media screen and (max-width: 970px) {
  .footer-cont{
    display: flex;
    flex-direction: column;
  }

  .lt{
    display: flex;
    width: 40%;
  }

  .lt input{
    width: 80%;
  }

  .footer-txt{
  display: flex;
 } 
}

@media screen and (max-width: 885px) {
  .footer-txt{
  display: grid;
  grid-template-columns: 200px 200px 200px;
 }
 
 .lt{
    display: flex;
    width: 20rem;
  }

}

@media screen and (max-width: 695px) {
  footer{
    padding: 3rem !important;
  }

  .footer-txt{
  display: grid;
  grid-template-columns: 100px 100px 100px ;
 }

  .ftr{
    padding-right: 1em !important;
  }
}

@media screen and (max-width: 460px) {
    .footer-txt{
  display: grid;
  margin-top: 20px;
  grid-template-columns: 60% 50% ;
  justify-content: space-between;
 }

  .ftr{
    padding-right: 0 !important;
  }

  .lt{
    display: flex;
    width: 90%;
  }

  .lt input{
    width: 80%;
  }

  .ftr5{
    margin-top: -5em;
  }
}


@media screen and (max-width: 420px) {
  footer{
    padding-left: 1em !important;
  }
}

@media screen and (max-width: 400px) {
  .lt{
    display: flex;
    width: 80%;
  }

  .lt input{
    width: 75%;
  }
}


/*------------- Copywrite -----------*/

@media screen and (max-width: 700px) {
  .copy-write{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .copy{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

