header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1a1a1a;
  position: relative;
}

.ads {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../resources/Abstra.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 2rem;
  border-bottom: 0.3px solid rgba(145, 141, 141, 0.301);
}

.ads .ad {
  margin-right: 2rem;
  font-weight: normal;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s ease;
}

.ads .ad:hover {
  color: #ffffff9c;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.3px solid rgba(145, 141, 141, 0.301);
  padding: 3px 0px;
}

.logo {
  margin-left: -3rem;
}

.ul {
  display: flex;
}

.ul p {
  padding: 0.3em 1em;
  font-weight: normal;
  cursor: pointer;
  transition: 0.3s ease;
}

.ul p:hover {
  color: rgb(93, 106, 255);
  font-weight: bold;
}

.ul p:focus,
.ul p:focus-visible {
  border: 1px solid white;
}

.menuB {
  display: none;
}

.menub {
  display: none;
}

@media screen and (max-width: 1114px) {
  .logo {
    margin-left: 0;
  }
}

@media screen and (max-width: 680px) {
  .menuB {
    display: block;
    margin-right: -3rem;
    cursor: pointer;
  }
  .nav {
    display: flex !important;
    position: fixed;
    z-index: 22;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    bottom: 0;
    top: 0;
    left: -400px;
    width: 15rem;
    height: 100vh;
    /* overflow: hidden; */
    background-color: #1a1a1a;
  }

 .navbar .menub{
    display: block;
  }

  .navbar .menub img{
    width: 2.3rem;
  }

  .navbar .menuB{
    display: block;
    margin: 0 2rem;
  }

  .navbar .logo{
    display: block;
    margin: 1rem 2rem;
  }

  .nav .ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .nav .ul p {
    font-size: 18px;
    padding: 0.7rem 0;
    margin: 0.5rem 1rem 0.5rem 0;
    text-align: left;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
     border: none;
  }

  .nav .logo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .nav .logo-i{
    margin-right: 4rem;
  }

  .navbar .ul{
    display: none;
  }

  .navbar .navbtn{
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .ads{
    display: none;
  }
}