.hero-container {
  background-color: rgba(14, 13, 13, 0.836);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  margin-top: 0;
  overflow: hidden;
  border-bottom: 0.3px solid rgba(145, 141, 141, 0.301);
}

.hero-text {
  margin-left: 5rem;
  margin-right: 3rem;
  margin-top: -5rem;
}

.h-text p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.717);
  margin-bottom: 3rem;
}

.h-text button {
  font-weight: 100;
  font-size: 12px;
  color: white;
  background-color: rgba(14, 13, 13, 0.692);
  margin-right: 10px;
  padding: 1em 1em;
  transition: 0.3s ease;
}

.h-text .hbtn {
  background-color: rgb(71, 66, 219);
}

.h-text .hbtn:hover {
  background-color: rgba(71, 66, 219, 0.751);
}

.h-text button:hover {
  background-color: rgb(71, 66, 219);
}

.hero-img {
  height: 100%;
  margin-right: 0;
  margin-right: -6.5rem;
}

.hero-img img {
  top: 0;
  right: 0;
  bottom: 0;
  width: 85%;
  background-position: right;
  background-size: cover;
}

.reviews {
  display: flex;
  margin-top: 2rem;
}

.row {
  padding: 0;
  padding: 12px;
  padding-right: 20px;
  border-radius: 10px;
  margin-right: 1rem;
  background-color: #1a1a1a;
  border: 1px solid rgba(255, 255, 255, 0.148);
}

.row h2 {
  margin: 0;
  padding: 0;
}

.row p {
  padding: 0;
  margin: 0;
}

.review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: black;
  margin-top: -4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.148);
  border-bottom: 1px solid rgba(255, 255, 255, 0.148);
}

.rows {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  margin-right: 0.4rem;
  background-color: #1a1a1a;
  border: 1px solid rgba(255, 255, 255, 0.148);
  width: 19rem;
}

.rows-img {
  display: flex;
  align-items: top;
  justify-content: center;
  bottom: 0;
}

.rows-img img {
  width: 3rem;
}

.rows p {
  font-size: 15px;
  margin-bottom: 0;
}

/* @media screen and (max-width: 1310px) {
    .reviews{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .row{
    margin: 0;
  }
}   */

@media screen and (max-width: 1090px) {
  .hero-img img {
    width: 100%;
    height: 90%;
  }
}

@media screen and (max-width: 1110px) {
  .hero-container {
  }

  .review {
    display: grid;
    grid-template-columns: 2fr 2fr 1.5fr;
    gap: 5px;
  }

  .rows {
    width: 90%;
  }

  .reviews {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .review {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 5px;
  }

  .rows {
    width: 95%;
  }

  /* .hero-img img{
        top: 0;
        bottom: 0;
        right: 0;
    } */
}

@media screen and (max-width: 993px) {
  .hero-img {
    display: block;
    position: relative;
    right: 0;
  }

  .hero-text {
    position: relative;
    z-index: 2;
    right: 0;
  }

  .reviews {
    display: flex;
  }
}

@media screen and (max-width: 953px) {
  .hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../resources/h-img.svg");
    background-position: center;
    background-size: cover;
  }
  .hero-img {
    display: none;
  }
  .h-text h1 {
    font-size: 6vmax;
  }

  .h-text p {
    font-size: 2vmax;
  }

  .review {
    gap: 0.6rem 0.9rem;
    padding-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .review {
    grid-template-columns: 0.5fr 0.5fr;
  }
}

@media screen and (max-width: 563px) {
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .review {
    grid-template-columns: 1fr;
    padding-right: 0;
  }

  .reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
  }

  .reviews > .row:nth-child(3) {
    grid-column: 1 / -1;
  }

  .row {
    margin: 0;
  }
}

@media screen and (max-width: 563px) {
  .hero-container {
    background-image: none;
    background-color: rgba(14, 13, 13, 0.836);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-bottom: 6rem;
    flex-direction: column;

  }

  .hero-img{
    display: flex;
    position: relative;
  }

  .hero-img img{
    position: relative;
    width: 80%;
  }

}
